body{background-color: rgb(204,255,255); font-family: "times new roman"; color: navy;}
h1{border: 3pt double; border-color: white; background-color: navy; text-align: center; color: white; font-size: 18pt; width:60%;}
h2{font-size: 16pt;text-decoration: underline; color: red;}
h3{font-size: 14pt; font-style: italic; color: green;margin-left: 5pt;}
p{text-align: justify; font-weight: bold; margin-left: 10pt;}
ul{margin-left: 15pt; font-weight: bold; list-style-type:square;}
ol{margin-left: 15p; font-weight: bold; list-style-type: lower-roman;}
