h1{border: solid 3pt; border-color: #0000AA; color: #BB0000; text-align: center; padding: 3pt; margin-top: 5pt; margin-bottom: 5pt;
margin-right: auto; margin-left: auto; width: 40%; background-color: #B0E0E6;}
h3{color: #0000BB; text-decoration: underline;}
ul{list-style-type: disc;}
table{background-color: #B0E0E6; border-collapse: separate; border: solid 4px; border-color: navy;}
thead{border-color: navy; border: 4px solid navy; background-color: #00CEAA;}
.perso{border:4px solid navy; background-color: #87CEFA;}
td{height: 100pt; border:4px solid gray;}
#test:hover{background-image: url("../Images/grandSchtroumpf.jpg");}
#alunette:hover{background-image: url("../Images/schtroumpfALunettes.jpg");}
#farceur:hover{background-image: url("../Images/schtroumpfFarceur.jpg");}
#schtroumpfette:hover{background-image: url("../Images/schtroumpfette.jpg");}

